/* Resetowanie domyślnych stylów */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #ffd1dc; /* Różowy kolor tła */
    background-image: url('https://cdn.pixabay.com/photo/2018/09/12/15/21/begonia-3672410_1280.jpg'); /* Ustawienie obrazu z pliku HTML jako tła */
    background-size: cover; /* Dopasowanie rozmiaru tła */
    background-position: center; /* Wyśrodkowanie tła */
    position: relative; /* Ustawienie pozycji na relatywną dla tekstu */
}

.container {
    width: 800px; /* Szerokość głównego kontenera */
    margin: 0 auto; /* Wyśrodkowanie */
    position: relative; /* Ustawienie pozycji na relatywną */
}

main {
    float: left;
    width: calc(100% - 220px); /* Szerokość głównej kolumny z treścią (lewa kolumna + padding) */
    overflow-y: auto; /* Scrollowanie */
}

h1, h2, h3 {
    color: #cc0000; /* Czerwony kolor nagłówków */
}

table.scrollable-table {
    width: 100%; /* Szerokość tabeli równa szerokości kolumny z treścią */
    border-collapse: collapse;
    overflow-y: auto; /* Scrollowanie */
    max-height: 300px; /* Maksymalna wysokość tabeli */
}

table.scrollable-table th,
table.scrollable-table td {
    padding: 8px;
    border: 1px solid #cc0000; /* Czerwony kolor obramowania tabeli */
}

table.scrollable-table tr:nth-child(even) {
    background-color: #f5e1e1; /* Jasnoczerwony kolor co drugiego wiersza tabeli */
}

footer {
    clear: both;
    text-align: center; /* Wyśrodkowany tekst w stopce */
    background-color: #cc0000; /* Czerwony kolor tła stopki */
    color: #fff;
    padding: 20px 0;
}

/* Polprzezroczyste tło dla tekstu */
main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7); /* Polprzezroczyste białe tło */
}
