* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cormorant Garamond', serif;
    position: relative;
    min-height: 100vh;
    background-color: #fce4ec;
    color: #5d2940;
}

header {
    background-color: #ff7eb9;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    display: flex;
    align-items: center;
}

.logo img {
    width: 30px;
    height: auto;
    margin-right: 10px;
}

.title h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    font-size: 24px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #5d2940;
    position: relative;
}

nav ul li a::after {
    content: "•";
    margin-left: 5px;
    margin-right: 5px;
    color: #ffbad8;
}

.content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: relative;
    flex-grow: 1;
    font-size: 20px;
}

.column {
    flex-basis: 30%;
}

.column img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.image-grid img {
    width: 100%;
    height: auto;
}

.footer {
    background-color: #ff7eb9;
    color: white;
    text-align: center;
    padding: 20px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
        align-items: center;
    }

    .column {
        flex-basis: 90%;
        margin-bottom: 20px;
    }

    .image-grid {
        grid-template-columns: 1fr;
    }

    .footer {
        margin-top: 0;
        padding: 5px;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
    
    header {
        flex-direction: column;
        align-items: center;
    }

    nav {
        text-align: center;
    }

    nav ul {
        margin-top: 20px;
    }
}
